
<!-- navbar partial -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

	          <div class="container">
	              <!-- Brand and toggle get grouped for better mobile display -->
	              <div class="navbar-header">
	                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                      <span class="sr-only">Toggle navigation</span>
	                      <span class="icon-bar"></span>
	                      <span class="icon-bar"></span>
	                      <span class="icon-bar"></span>
	                  </button>
	                  <a class="navbar-brand" href="/home">rental_stage_logo</a>
	              </div>
	              <!-- Collect the nav links, forms, and other content for toggling -->
	              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                  <ul class="nav navbar-nav navbar-right">
	                      <li>
	                          <a href="/home">Home</a>
	                      </li>
	                      <li>
	                          <a href="/users/dashbord">Dashbord</a>
	                      </li>
	                      
	                      <li class="dropdown">
	                          <a  class="dropdown-toggle" data-toggle="dropdown">Notifications<b class="caret"></b></a>
	                          <ul class="dropdown-menu">
	                              <li>
	                                  <a href="#">notification 1</a>
	                              </li>
	                              <li>
	                                  <a href="#">notification 2</a>
	                              </li>
	                              <li>
	                                  <a href="#">notification 3</a>
	                              </li>
	                              <li>
	                                  <a href="#">notification 4</a>
	                              </li>
	                              <li>
	                                  <a href="#">notification 5</a>
	                              </li>
	                          </ul>
	                      </li>
	                      <li class="dropdown">
	                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">FAQ<b class="caret"></b></a>

	                      </li>
	                      <li >
	                        <a href="/users/profile"> profile</a>
	                      </li>
	                      <li >
	                        <a href="/logout">logout</a>
	                      </li>
	                  </ul>
	              </div>
	              <!-- /.navbar-collapse -->
	          </div>
	          <!-- /.container -->
	  </nav>