<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Rental Stage</title>

    <meta name="author" content="Lahiru de Alwis">
    <meta name="description" content="<page description>">

    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
	  <% include ./partials/navbar %>
	  <div class="container" style="padding-top: 85px"y>
	  	
	  </div>
  </body>
</html>
